<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vendarustech.foodslify">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodslify">
        <activity
            android:name=".BuyerModule.Dashboard.FoodViewActivity"
            android:label="@string/title_activity_food_view"
            android:theme="@style/Theme.Foodslify.NoActionBar"></activity>
        <activity
            android:name=".BuyerModule.Dashboard.DashboardActivity"
            android:label="" />
        <activity
            android:name=".VendorModule.Dashboard.DashboardActivity"
            android:label="" />
        <activity
            android:name=".AccountAccess.SignIn.SignInActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".VendorModule.Accounts.Registration.RegActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".BuyerModule.Accounts.Registration.RegActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".LaunchScreen.WelcomeActivity" />
        <activity android:name=".LaunchScreen.OnboardActivity" />
        <activity android:name=".LaunchScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>